@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  color: #F3F4F1;
  background-color: #221f1e;
  font-family: 'Open Sans', sans-serif;
}

body,
html {
  height: 100%;
}

.landing-wrapper {
  height: 100%;
  background-color: #221f1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../img/Ghosts_portrait_MAR25_FIN1_web.jpg") no-repeat center center/cover;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(34, 31, 30, 0.99);
  z-index: 3;
}

.logo {
  height: 3rem;
  width: auto;
  margin: 1rem;
  -webkit-filter: invert(80%);
          filter: invert(80%);
  z-index: inherit;
}

#menu {
  visibility: hidden;
}

#menu-toggle {
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-links {
  position: absolute;
  top: 0;
  right: -10rem;
  background-color: rgba(34, 31, 30, 0.99);
  list-style: none;
  width: 10rem;
  height: 100vh;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#menu:checked ~ .nav-links {
  right: 0rem;
}

#menu:checked ~ #menu-toggle {
  right: 11rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nav-item {
  padding-top: 0.8rem;
  padding: 1.5rem;
}

.nav-item .social-icons {
  border-radius: 50%;
  padding: 1rem;
  font-size: 2rem;
}

.nav-item a {
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #F3F4F1;
  cursor: pointer;
}

.nav-item a:hover {
  color: #555f61;
}

.hero {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cta-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

.cta-wrapper h1 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  z-index: inherit;
}

.cta-wrapper h3 {
  text-align: center;
  padding-bottom: 1rem;
  text-transform: uppercase;
  z-index: inherit;
}

.btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  text-decoration: none;
  display: inline-block;
  border: 1px solid #F3F4F1;
  padding: 0.5rem;
  width: 6.5rem;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #F3F4F1;
  z-index: inherit;
  margin: 0 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #F3F4F1;
  color: #221f1e;
}

.news {
  padding: 1rem;
  background-color: #F3F4F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.news-heading {
  color: #555f61;
  text-transform: uppercase;
  padding: 1rem;
}

.news .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F3F4F1;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.news .card h3 {
  color: #555f61;
  text-align: left;
  padding: 1rem 1rem 0 1rem;
  text-transform: uppercase;
}

.news .card h4 {
  color: orangered;
  text-align: left;
  padding: 0 1rem;
  font-weight: 300;
}

.news .card p {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #555f61;
  text-align: justify;
  padding: 1rem;
}

.news-img {
  width: 100%;
  height: 50vw;
}

.concert-dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  height: 100vh;
  width: 100%;
  color: #F3F4F1;
  background: url("../img/tom-rogerson-8bYoi9UGglU-unsplash.jpg") no-repeat center center/cover;
}

.concert-dates h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #F3F4F1;
  text-transform: uppercase;
  padding: 1rem;
}

.concert-dates ul {
  list-style: none;
}

.concert-dates ul .gig-dates {
  color: #F3F4F1;
  font-weight: bold;
  padding: 0.5rem;
  width: 80vw;
}

.concert-dates details {
  font-weight: 300;
  cursor: pointer;
}

.concert-dates details summary {
  color: #555f61;
}

.concert-dates details .gig-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

footer {
  width: 100%;
  height: auto;
  color: #555f61;
  background-color: #221f1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
}

footer social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social-icons {
  border-radius: 50%;
  padding: 1rem;
  font-size: 2rem;
  color: #555f61;
}

.social-icons a {
  text-decoration: none;
}

.wrapper {
  height: 100%;
  background-color: #221f1e;
}

.content-wrapper {
  padding-top: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.band-info .band-img {
  width: 100%;
  height: auto;
}

.band-info .band-article {
  margin-top: 1rem;
}

.band-info .band-article p {
  padding-bottom: 0.5rem;
  line-height: 1.8rem;
  color: #F3F4F1;
}

.disco-wrapper {
  padding: calc(1rem + 1vw);
  padding-top: 6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.album-info {
  max-width: 1000px;
  overflow: hidden;
  line-height: 0;
}

.album-info img {
  width: 100%;
}

.album-info iframe {
  border: none;
  height: 80px;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */